<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hrforecast.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".william.ChartActivity"
            android:label="@string/title_william_chart" >
        </activity>
        <activity
            android:name="de.hrforecast.demo.mpandroid.ChartActivity"
            android:label="@string/title_mpandroid_chart" >
        </activity>
        <activity
            android:name="de.hrforecast.demo.mpandroid.LineChartActivity"
            android:label="@string/title_mpandroid_line_chart" >
        </activity>
        <activity
            android:name="de.hrforecast.demo.mpandroid.BarChartActivity"
            android:label="@string/title_mpandroid_bar_chart" >
        </activity>
        <activity
            android:name="de.hrforecast.demo.mpandroid.RadarChartActivity"
            android:label="@string/title_mpandroid_radar_chart" >
        </activity>
        <activity
            android:name="de.hrforecast.demo.mpandroid.PieChartActivity"
            android:label="@string/title_mpandroid_pie_chart" >
        </activity>
    </application>

</manifest>